<!DOCTYPE html>
<html>
	<head>
		<title>James Hennessy, Intergration Engineer</title>
				<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/About">About</a></li>
        		<li><a href="/CV">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
        		<li><a href="/Tower_Defense">Tower Defense Game</a></li>
    		</ul>
		</nav>
		<div class="container">
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:james.ryan.hennessy@gmail.com">email</a></li>
        		<li><a href="https://github.com/jamesthesnake">github.com/jamesthesnake</a></li>
			</ul>
		</footer>
{% include open-embed.html %}
	</body>
</html>
